<launch>
    <arg name="scan_topic" default="/scan" />
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <!-- Loading params file -->
        <rosparam file="$(find project_mapping)/param/project_mapping_params.yaml" command="load" />
        <remap from="scan" to="$(arg scan_topic)"/>
    </node>
</launch>